<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>About</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>

	<body>
        {{>header}}
		<div class='mainContent'>
			

			<p>About our web app</p>

			
		</div>
		{{>footer}}
	</body>
</html>