<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Help</title>
	</head>

	<body>
        {{>header}}
		<div class='mainContent'>
			

			<p>Documentation or How To Use</p>

			
		</div>
		{{>footer}}
	</body>
</html>