<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Network Designer</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>

	<body>
		{{>header}}
		<div class='mainContent'>
			

			<p>Use this site to design network diagrams</p>

			
		</div>
		{{>footer}}
	</body>
</html>