<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Network Designer</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>

	<body>
		{{>header}}
		<div class='mainContent'>
			
			<div class="navbar">
  				
  				
				<div class="dropdown">
    				<button class="dropbtn">File 
      					<i class="fa fa-caret-down"></i>
    				</button>
   	 				<div class="dropdown-content">
      					<a href="#">New</a>
      					<a href="#">Open</a>
      					<a href="#">Save</a>
    				</div>
 	 			</div> 

				<a href="#save">Save</a>
  				<a href="#clear">Clear</a>
			</div>

			<p>Use this site to design network diagrams</p>

			
		</div>
		{{>footer}}
	</body>
</html>