<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Network Designer</title>
	</head>

	<body>
		<div class='mainContent'>
			{{>header}}

			<p>Use this site to design network diagrams</p>

			{{>footer}}
		</div>
	</body>
</html>